* {
  font: 13px/1.3 Helvetica;
}

hr {
  border-top: 1px solid #e9e9e9;
}

table, th, td {
	border: 1px solid #e9e9e9;
	border-collapse: collapse;
	font-size: 13px;
}

table td:last-child {
    width: 100%;
}

th {
	background: #f3f3f3;
	font-size: 11px;
	text-align: left;
	font-weight: normal;
	color: #a1a1a1;
}

tr:hover {
	background: #f2f6fb;
}

.BN {
	background: #eeeeee;
}

.squarebutton {
  text-align: center;
  display: inline-block;
  line-height: 40px;
  color: white;
  border-radius: 5px;
  background: #0078ff;
  width: 40px;
  height: 40px;
  margin: 4px 2px;
  border: none;
}

.squarebutton:hover {
   background: #3393ff;
}

.player {
	color: #1f83ff;
overflow: hidden;
white-space: nowrap;
}

.player:hover {
	text-decoration: underline;
}
