<!DOCTYPE html>
<html>
   <head>
      <title>Lineup Optimizer</title>
      <link rel="stylesheet" href="styles.css">
   </head>
   <body>
      <h1>Your Optimized Lineup</h1>
      <hr>
      <table>
         <tr>
            <th style="text-align:center">Pos</th>
            <th>Players</th>
            <th>Projected Score</th>
         </tr>
         <tr>
            <td><button class="squarebutton">PG</button></td>
            <td class="player">Jrue Holiday</td>
            <td>110.1</td>
         </tr>
         <tr class="BN">
            <td><button class="squarebutton">BN</button></td>
            <td class="player">Jalen Brunson</td>
            <td>105.6</td>
         </tr>
      </table>
      <p>Starting Lineup Total:</p>
   </body>
</html>
